* {
    font-family: Impact;
    font-size: 1.3rem;
}

body {
    background-image: url("warzone.jpg");
    background-color: black;
}
.flagCounter{
    color: white;
}
.stopwatch{
    color: red;
}
.countdown{
    color: red;
}
.column {
    
    padding: 10px;
}
.left, .right {
    width: 40%;
}
.middle {
    width: 100%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}

.Beginner {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: calc(70vh);
}

.Expert {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    width: calc(90vh);
}

.playing_area {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.difficultyMenu {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}

.difficultyMenu * {
    padding: 5px 0.5em;
    border: 0px solid gray;
    background-color: black;
    margin: 5px;
    border-radius: 0.5em;
    font-size: 1em;
    color: white;

}


.difficulty_select:hover {
    cursor: pointer;
    color: red;
    background: black;
}

.base > div::before {
    display: block;
}

.base_image {
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.card:hover{
    background: black;
}

  #overlay * {
    pointer-events: none;
  }
  
  #overlay.active {
    visibility: visible;
  }
  
  #overlay {
    visibility: hidden;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px black;
  }
  
  #overlayin p {
    text-align: center;
    font-size: 1em;
  }
