* {
    font-family: sans-serif;
    font-size: 20px;
}

body {
    background-image: url("warzone.jpg");
    background-color: black;
}
.flags_remaining{
    color: white;
}
.flags_placed{
    color: white;
}
.stopwatch{
    color: red;
}
.countdown{
    color: red;
}
.rules{
    color: white;
    justify-content: center;
}
.column {
    
    padding: 10px;
}
.left, .right {
    width: 40%;
}
.middle {
    width: 100%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}

.Beginner {
    display: grid;
    grid-template-columns: repeat(10, .75fr);
    width: calc(70vh);
}
.Intermediate {
    display: grid;
    grid-template-columns: repeat(15, .75fr);
    width: calc(90vh);
}
.Expert {
    display: grid;
    grid-template-columns: repeat(20, .75fr);
    width: calc(90vh);
}

.playing_area {
    display: flex;
    justify-content: center;
    align-items: stretch;

}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 105vh;
    width: 105vw;
    margin: 5px;
}

.difficultyMenu {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5%;
    flex-wrap: wrap;
    align-items: center;
}

.difficultyMenu * {
    padding: 10px;
    background-color: black;
    margin: 0.75%;
    border-radius: 0.75em;
    font-size: 1.1em;
    color: white;

}

.difficulty_select:hover {
    cursor: pointer;
    color: red;
    background: black;
}

.base > div::before {
    content: "";
  display: block;

}

.base_image {
    width: 100%;
    height: 100%;
}



